.card{
  color: #212529;

  &-title {
    font-size: 20px;
  }

  &-subtitle {
    font-size: 14px;
  }

  &-body:hover {
    color: #47d7ac;
  }
}

.recipe {
  &-hero-image {
    width: 100%;
  }

  &-labels {
    color: #716d6a;
    font-family: "Avenir Next Cyr W00 Medium",Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    list-style: none;
    margin: 0 0 10px;
  }

  &-link {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &-tags {
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    list-style: none;
    padding-left: 0;

    &-attributes {
      margin: 0 2px 5px 0;
      background-color: #47d7ac;
      display: inline-block;
      font-size: 10px;
      letter-spacing: 1px;
      line-height: 1.5;
      padding: 5px;
      text-transform: uppercase;
    }
  }

}
